{% extends './base.html' %}

{% block content %}

<form action="{% url 'Book:register' %}" method="post">
    {% csrf_token %}

    <fieldset>
        <h1>注册</h1>
        <subp>注册能让你参与oiBook上的更多活动</subp><br><br>

        <input id="username" style="font-size:medium; font-family:华文细黑" type="text" name="username" placeholder="用户名..." required pattern="[A-Z0-9a-z]+"><br>
        <subp>用户名只能由英文大小写字母或数字组成。</subp><br>
        <br>
        <input id="e-mail" style="font-size:medium; font-family:华文细黑" type="text" name="e-mail" placeholder="邮箱（可虚构）..."><br>
        <subp>邮箱暂时没有功能，但为了以防万一建议您填写真实邮箱。</subp><br>
        <br>
        <input id="password" style="font-size:medium; font-family:华文细黑" type="password" name="password" placeholder="密码..." required pattern="[A-Z_0-9a-z]+"><br>
        <subp>密码只能由英文大小写字母、数字或“_”组成。</subp><br>
        <br>
        <!-- <input id="check-password" style="font-size:medium; font-family:华文细黑" type="password" name="check-password" placeholder="重复密码..."><br>
        <subp>为了确保你的密码正确，请填写此项。</subp><br>
        <br> -->
        <subp>已经有账号了？去<a href="{% url 'Book:login' %}">登录</a></subp>
        <br>

        <br>
        <button type="submit">注册</button>

        {% if error_message %} 
            <p class="error">{{ error_message }}</p>
        {% endif %}
    </fieldset>

</form>

{% endblock %}